#suggestion1, #suggestion2, #suggestion3 {
  display: none;
  font-family: Georgia, 'Times New Roman', Times, serif;  
  font-size: x-large;
  background-color: oldlace;
}


html {
	height: 2000px;
	background-color: red;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
	}

body {
	height: 100%;
	background-image: linear-gradient(hsl(10,90,66), transparent 70%);
	background-size: 100% 100%;
	mix-blend-mode: difference;
	}


  .container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: oldlace;
    margin-left: 20px;
  }

  .form-group{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: oldlace;
    margin-left: 20px;
  }
  
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  box-sizing: border-box;
  color: brown;
  
}

.question1{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: oldlace;
  margin-left: 20px;
}

.question2{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: oldlace;
  margin-left: 20px;
}

.queston3{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: oldlace;
  margin-left: 20px;
}

.question4{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: oldlace;
  margin-left: 20px;

}

.End{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: oldlace;
  margin-left: 20px;
}

.btn{
  margin-left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: large;

}